body 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-align: center;
    margin: auto 0px;
}

h1 {
    font-size: 3rem;
}

.result-container{

    display: flex;
    flex-wrap: wrap;

}

.container {
    max-width: 1200px;
}

.testing {
    margin: 2rem;
    padding: 20px;
    max-width: 200px;
    border-radius: 3px;
    background: #5EA5CE;
    color: #FFFFFF;

}

.error {

    border: 2px solid #b34535;
    padding: 10px;
    color: white;
    background: lightcoral; 
    
    }
.loading {

border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
